{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class='page-header'>
        <h3>We apologize for the inconvenience. </h3>
        If you would like
            to reset your password please enter your email down below
            and a password reset link will be sent to your inbox.
            Note: Password reset links are only valid for up to an 
            hour after being sent.
        
    </div>
    {{ wtf.quick_form(form) }}
{% endblock %}