
<div class="post-tabs">
  <ul class="posts">
    {% set is_administrator = current_user.is_administrator() %}
    {% for post in posts %}
      {% set user = User(id=post['author_id']) %}
      <li class="post">
        <div class="profile-thumbnail">
          <a href="{{ url_for('.user',username=user.username) }}">
            <img class="img-rounded profile-thumbnail" 
              src="{{ user.gravatar(size=40) }}">
          </a>
        </div>
        <div class="post-content">
          <div class="post-date">{{ moment(post['time_stamp']).fromNow() }}</div>
          <div class="post-author">
            <a href="{{ url_for('.user',username=user.username) }}">
              {{ user.username }}
            </a>
          </div>
          <div class="post-body">
            {% if post['body_html'] %}
              {{ post['body_html'] | safe }}
            {% else %}
              {{ post['body'] }}
            {% endif %}
          </div>
          <div class="post-footer">
            <a href="{{ url_for('main.post',id=post['id']) }}">
              <span class="label label-default">Permalink</span>
            </a>
            {% if current_user.id == post['author_id'] %}
              <a href="{{ url_for('main.edit',id=post['id']) }}">
                <span class="label label-primary">Edit</span>
              </a>
            {% elif is_administrator %}
              <a href="{{ url_for('main.edit',id=post['id']) }}">
                <span class="label label-danger">Edit [Admin]</span>
              </a>
            {% endif %}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>